extends layout

block content
	form(action='/', method='GET')
		input(type='text', name='query', value= query)
		input(type='submit', value='Search')
	ul
		each beer in beers
			li
				a(href='/detail/' + beer.id) #{beer.name}