*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

body{

  background-color: #FFFF82;
}


section
{
	margin: auto;
  background-color: white;
  display: flex;
	flex-direction: column;
	width: 70%;
	height: 100%;
	-webkit-box-shadow: 3px 2px 38px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 2px 38px 0px rgba(0,0,0,0.75);
box-shadow: 3px 2px 38px 0px rgba(0,0,0,0.75);
}

img{
	width: 100%;
	height: 200px;
	padding: 0px 10px;
}

.container{
	border-top: 1px solid green;
	margin: 0px 20px;
}

article{
	padding: 0px 40px;
	margin-bottom: 10px;
	border-top: 1px solid green;
}

.container article h1{
	font-size: 30px;
	margin-top: 6px;
	margin-bottom: 30px;
	color: brown;
}

p{
	text-align: justify;
}

.orange{
	text-align: justify;
	color: orange;
	font-size: 23px;
	margin-bottom: 7px;
}

.important{
	margin-top: 6px;
	padding: 5px;
	background-color: #FFFF82;
	border:1px dashed brown;
}

strong{
	color: #BF7B0F;
	font-weight: bolder;
}


@media only screen and(min-width:414px) {
	p{
		font-size: 6px;
	}
  img{
    visibility: hidden;
  }
}
