<html>

<head>
    <link rel="stylesheet" href="../public/vendor/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/styles/main.css" />
</head>

<body>
    <div class="container main">
        <h1>Tasks</h1>
        <form action="/" method="post">
            <div class="row">
                <div class="col-xs-9" _style="padding-right: 3px;">
                    <input type="text" name="text" class="form-control" placeholder="Task..." />
                </div>
                <div class="col-xs-3">
                    <input class="form-control" type="submit" class="btn btn-success" value="Add" />
                </div>
            </div>
        </form>
        <h3>To-Do</h3>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-success">Buy milk</a>
        </div>
        <h3>Done</h3>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-danger">Go gym</a>
        </div>
    </div>
    <script type="text/javascript" src="../public/vendor/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../public/vendor/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>