html
	head
		link(rel='stylesheet', href='/vendor/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/styles/main.css')
	body
		.container.main
			h1 Tasks
			form(action="/", method="post")
				.row
					.col-xs-9(_style="padding-right: 3px;")
						input.form-control(type="text", name="text", placeholder="Task...")
					.col-xs-3
						input.form-control(type="submit", value="Add")
			h3 To-Do
			.list-group
				each task in tasks
					if (!task.done)
						a.list-group-item.list-group-item-success(href="/mark-task-done/" + task.id) #{task.text}
			h3 Done
			.list-group
				each task in tasks
					if (task.done)
						a.list-group-item.list-group-item-danger(href="/remove-done-task/" + task.id) #{task.text}
		script(type='text/javascript', src='/vendor/jquery/1.12.4/jquery.min.js')
		script(type='text/javascript', src='/vendor/bootstrap/3.3.7/js/bootstrap.min.js')