<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form>
        <input name="text" type="text">
        <input type="submit" value="add">
    </form>
    <ul>
        <li>comprar castanyes <button>&check;</button></li>
        <li>ir al gym <button>&check;</button></li>
        <li>estudiar react 23h al dia <button>&check;</button></li>
        <li>pasarmelo bien el viernes por la noche <button>&check;</button></li>
    </ul>
    <ul>
        <li><del>masticar chicle</del></li>
        <li><del>practicar ingles</del></li>
    </ul>
</div>
</body>
</html>